.div {
  position: absolute;
  width: 1700px;
  height: 1000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(248, 183, 183); */
}
.imagediv {
  position: absolute;
  /* background-color: yellow; */
  width: 170px;
  overflow: hidden;
  height: 200px;
}
.imagediv img {
  transform: translateY(90%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
